<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt"
   throwConfigExceptions="true">

	<!-- Define various log targets where logs will be written -->
	<targets>

		<!-- AsyncWrapper target for asynchronous File logging -->
		<target xsi:type="AsyncWrapper"
					  name="asyncFileWrapper">

			<!-- File target inside AsyncWrapper -->
			<!--filename: Current log file path-->
			<!--archiveFileName: Archived log file path with incremented numbering-->
			<!--archiveEvery: Archive log file at the end of every day-->
			<!--archiveNumbering: Number archived files sequentially-->
			<!--maxArchiveFiles: Keep only the last 7 archived log files-->
			<target xsi:type="File"
			 name="file"
			 fileName="C:/Logs/nlog-all-${shortdate}.log"
			 archiveFileName="C:/Logs/archived/log_{#}.log"
			 archiveEvery="Day"
			 archiveNumbering="Rolling"
			 maxArchiveFiles="7"
			 layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
		</target>

		<!-- Console target: Display logs in the console window (without async wrapper, as console writes are usually fast) -->
		<target xsi:type="Console"
		  name="console"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

		<!-- Null target: Discard logs, used to filter out logs from specific namespaces -->
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<!-- Define logging rules to control which logs go to which targets -->
	<rules>
		<!-- Filter out logs from the "Microsoft" namespace by sending them to the "blackhole" target -->
		<logger name="Microsoft.*"
		  minlevel="Trace"
		  writeTo="blackhole"
		  final="true" />

		<!-- Filter out logs from the "System" namespace by sending them to the "blackhole" target -->
		<logger name="System.*"
		  minlevel="Trace"
		  writeTo="blackhole"
		  final="true" />

		<!-- Send all logs with level Information or higher to the file target -->
		<logger name="*"
		  minlevel="Information"
		  writeTo="file" />

		<!-- Send all logs with level Debug or higher to the console target -->
		<logger name="*"
		  minlevel="Debug"
		  writeTo="console" />
	</rules>
</nlog>